<% provide(:title, 'Basket') %>
<h2>Basket</h2>

<table class="basket container">
 <tr>
  <td>
   <div id="basket">
    <%= render 'basket_items/basket' %>
   </div>
  </td>
 </tr>
 <tr>
  <td><%= @basket.continue %></td>
 </tr>
</table>
