<% provide(:title, 'Basket') %>
<h2>Basket</h2>

<table class="basket container">
 <tr>
  <td>
   <div id="basket">
    <%= render 'basket_items/basket' %>
   </div>
   <%= @basket.empty %>
   <%= button_to 'Continue Shopping' , items_path, :class => "btn pull-right", :method=> :get %><br/><br/>
   <%= @basket.continue %></td>
 </tr>
</td>
 </tr>
</table>
