<% provide(:title, 'Register') %>
<h1>Register</h1>

<%= form_for @user do |f| %>
<%= render :partial => "form", :object => f, :locals => { :user => @user } %>
<%= f.submit "Register", :class=>"btn btn-large btn-primary" %>
<% end %>
