<h2>Order History</h2>

<div class="row">
 <div class="span8 offset2">

<table class="order" align="center">
 <tr>
  <th>Date</th>
  <th>Price</th>
  <th>Items</th>
  <th></th>
 </tr>

<% @orders.each do |order| %>
 <tr>
  <td><%= order.created_at.strftime("%d/%m/%Y") %></td>
  <td><%= display_price order.price %></td>
  <td><%= order.item_qty %></td>
  <td><%= button_to "More Details...", order, :class=>"btn btn-link pull-right btn-primary", :method => :get %>
 </tr>
<% end %>
</table>

 </div>
</div>
