<h2>Order History</h2>

<div class="row">
 <div class="span8 offset2">

<table class="order" align="center">
 <tr>
  <th>Date</th>
  <th>Price</th>
  <th>Items</th>
  <th></th>
 </tr>

<% @orders.each do |order| %>
 <tr>
  <td><%= order.created_at.strftime("%d/%m/%Y") %></td>
  <td>£<%= sprintf("%0.2f", order.price) %></td>
  <td><%= order.order_items.count %></td>
  <td><%= button_to "More Details", order, :class=>"btn pull-right btn-primary", :method => :get %>
 </tr>
<% end %>
</table>

 </div>
</div>
