<h5>Delivery Address:</h5>
<ul class="payment_delivery_address">
 <li class="content"><%= payment.order.delivery_address.title %> <%= payment.order.delivery_address.first_name %> <%= payment.order.delivery_address.last_name %></li>
 <li class="content"><%= payment.order.delivery_address.organisation %></li>
 <li class="content"><%= payment.order.delivery_address.building %> <%= payment.order.delivery_address.street %></li>
 <li class="content"><%= payment.order.delivery_address.town %></li>
 <li class="content"><%= payment.order.delivery_address.county %></li>
 <li class="content"><%= payment.order.delivery_address.post_code %></li>
 <li class="content"><%= payment.order.delivery_address.country %></li>
 <li class="content"><%= payment.order.delivery_address.phone %></li>
</ul>
<br>
<h5>Payment Details:</h5>

<ul class="payment_summary">
 <li class="content">Card Type: <%= payment.card_type %></li>
 <li class="content">Card Number: <%= payment.card_number %></li>
 <li class="content">Expiry Date: <%= payment.expiry_date.month %>/<%= payment.expiry_date.year %></li>
</ul>
<br>
<h5>Billing Address:</h5>
<ul class="payment_billing_address">
 <li class="content"><%= payment.billing_address.title %> <%= payment.billing_address.first_name %> <%= payment.billing_address.last_name %></li>
 <li class="content"><%= payment.billing_address.organisation %></li>
 <li class="content"><%= payment.billing_address.building %> <%= payment.billing_address.street %></li>
 <li class="content"><%= payment.billing_address.town %></li>
 <li class="content"><%= payment.billing_address.county %></li>
 <li class="content"><%= payment.billing_address.post_code %></li>
 <li class="content"><%= payment.billing_address.country %></li>
 <li class="content"><%= payment.billing_address.phone %></li>
</ul>
