<h2>Thank you for your order</h2>

<div class="row">
 <div class="span8 offset2">

<%= render 'orders/order' %>

<%= render 'payment', payment: @payment %>

<%= button_to 'Continue Shopping' , items_path, :class => "btn pull-right btn-success", :method=> :get %>    
 </div>
</div>
