<% provide(:title, 'All Addresses') %>
<h2>Address Book</h2>
<div class="row">
 <div class="span8 offset2">
  <% @addresses.each do |address| %>
   <ul class="address">
    <%= render 'address', :address => address %>
    <% if address.can_change? %>
    <li><%= link_to "Edit", edit_address_path(address), :class => "", :method => :get %>
        <%= link_to "Delete", address_path(address), :class => "", :method => :delete %></li>
    <% end %>
   </ul>
  <% end %>
  <%= link_to "Add new address", new_address_path, :class => "btn btn-primary" %>
 </div>
</div>
