<li>
  <span class="content pull-left"><%= link_to item.name, item %><br/><br/>
  <%= item.description[0..100] %>...</span>
  <span class="content pull-right">
  Price: £<%= sprintf("%.02f", item.price) %>
  </span>
</li>
